body{
    font-size: 16px;
    font-family: 'Open Sans';
    color: #40666d;
}

a, a:hover, a:active{
    text-decoration: inherit;
    color: inherit;
}

li:active{color: red;}

button{
    background-color: white;
    border: none;
}

button:focus {
    outline: none !important;
}


/* ------------HEADER ---------*/

.container-fluid{
    padding-left: 0;
    padding-right: 0;
}

.masthead-container{
    height: 356px;
    width: 100vw; 
    background: url(http://cdn01.wideopentech.com/themes/wot-2013-gm/_/img/wot-masthead-dark.jpg) center top;
    background-size: cover;
    font-family: 'Oswald', sans-serif;
    display: flex;
    justify-content: center;
    flex-direction:column;
    align-items: center;
    align-content: center;
    color: white;
}

    /*---------- NAV BAR ---------------*/

.navbar{
    width: 100vw;
    height: 73px;
    background-color: white;
    padding-right: 0;
    position: fixed;
    color: #97A2A7;
    fill: #BCD436;
    font-size: 16px;
    overflow: hidden;
    transition: all 1s;
}

.top{
    display: flex;
    height: 73px;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    
}

#logo{
    width: 65%;
    height:auto;
}

#hamburger:hover{
    fill: #6A787C;
}

.menu-list{
    height: 100%;
    font-family: 'Lato', sans-serif;    
}

.menu-list ul{
    height: 320px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
}

.menu-list li:hover{
    color: #6A787C;
}

.visible{
    height: 393px;
}

    /*---------- HEADER MAIN -----------*/

.header{
    padding-top: 45px; 
}

#yourDigital{
    font-size: 22px;
    margin-bottom: 0;
    text-align: center;
    font-weight: 600;
}

.main{
    font-size: calc(48em/16);
    margin-top: 0;
    text-align: center;
    padding-left: 0
}

.sub-header{
    font-size: 20px;
    letter-spacing: 1px;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.sub-header::before, .sub-header::after{
    content: '';
    background-color: white;
    height: 9px;
    width: 35px;
    margin: 10px;
    
}

#solutions{
    color: #D36C36;
}

#ideas{
    color: #BCD137;
}

#learn-more{
    width: 80vw;
    height: 50px;
    color:white;
    background-color: #Bdd436;
    border-radius: 30px;
    letter-spacing: 1px;
    font-weight:900;
    font-family: 'Open Sans';
    font-size: 16px;
}

#learn-more:hover{
    background-color: #C8E23A;
}


/*---------MEDIA QUERIES --------------*/

@media(min-width:450px){
    .masthead-container{
        height: 520px;
    }
    
    body{
        font-size: 30px;
    }
    
}


@media(min-width:750px){
    
    #yourDigital{
        text-align: left; 
        margin-bottom: -10px;  
    }
    
    .sub-header::before, .sub-header::after{
        width: 80px;
    }
    
    body{
        font-size: 48px;
    }
    
    #learn-more{
        margin-top: 50px;
        max-width: 360px
    }
}


@media(min-width:970px){
    
}

@media(min-width:1170px){
    
}
.header-container {
    
}
