html{
    font-size: 16px;
    font-family: 'Open Sans';
    color: #40666d;
}

a, a:hover, a:active{
    text-decoration: inherit;
    color: inherit;
}

li:active{color: red;}

button{
    background-color: white;
    border: none;
}

button:focus {
    outline: none !important;
}


/* ------------HEADER ---------*/

.container-fluid{
    padding-left: 0;
    padding-right: 0;
}

.masthead-container{
    height: 356px;
    width: 100vw; 
    background: url(http://cdn01.wideopentech.com/themes/wot-2013-gm/_/img/wot-masthead-dark.jpg) center top;
    background-size: cover;
    font-family: 'Oswald', sans-serif;
    display: flex;
    justify-content: center;
    flex-direction:column;
    align-items: center;
    align-content: center;
    color: white;
}

    /*---------- NAV BAR ---------------*/

.navbar{
    width: 100vw;
    height: 73px;
    background-color: white;
    padding-right: 0;
    position: fixed;
    color: #97A2A7;
    font-size: 16px;
    overflow: hidden;
    transition: all 0.5s;
}

.top{
    display: flex;
    height: 73px;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    
}

#logo{
    width: 65%;
    height:auto;
}

#hamburger{
    background: none;
    fill: #BCD436;
}

#hamburger:hover{
    fill: #6A787C;
}
 
#hamburger:focus{
    fill: #97A2A7;
}

.menu-list{
    height: 100%;
    font-family: 'Lato', sans-serif;    
}

.menu-list ul{
    height: 320px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
}

.menu-list li:hover{
    color: #6A787C;
}

.menu-list li{
    padding-left: 20px;
}

.visible{
    height: 393px;
}

.container{
    max-width: 1070px;
}

.bright-green-main{
    color: #Bdd436;
    font-weight: 700;
}

h1{
    font-size: 42px;
    font-family: 'Oswald', 'sans-serif';
    font-weight: 300;
}

    /*---------- HEADER MAIN -----------*/

.header{
    padding-top: 45px; 
}

#yourDigital{
    font-size: 22px;
    margin-bottom: 0;
    text-align: center;
    font-weight: 600;
}

.main{
    font-size: calc(48em/16);
    margin-top: 0;
    text-align: center;
    padding-left: 0
}

.sub-header{
    font-size: 20px;
    letter-spacing: 1px;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.sub-header::before, .sub-header::after{
    content: '';
    background-color: white;
    height: 9px;
    width: 35px;
    margin: 10px;
    
}

#solutions{
    color: #D36C36;
}

#ideas{
    color: #BCD137;
}

.button-green{
    color:white;
    background-color: #Bdd436;
    border-radius: 30px;
    letter-spacing: 1px;
    font-weight:900;
    font-family: 'Open Sans';
    font-size: 16px;
}

.button-green:hover{
    background-color: #C8E23A;
}

#learn-more{
    width: 80vw;
    height: 50px;
}

/*---------- MAIN CONTENT -----------*/

.howItWorks{
    color: #6A787C;
    margin-top: 35px;
}

.howItWorks p{
    font-size: 1.5rem;
    line-height: 36px;
}


/*---------MEDIA QUERIES --------------*/

@media(min-width:450px){
    .masthead-container{
        height: 520px;
    }
    
    body{
        font-size: 30px;
    }
    
}

@media(min-width:750px){
    
    #logo{
        margin: 35px 0 0 50px;
    }
    
    #yourDigital{
        text-align: left; 
        margin-bottom: -10px;  
    }
    
    .sub-header::before, .sub-header::after{
        width: 80px;
    }
    
    body{
        font-size: 48px;
    }
    
    #learn-more{
        margin-top: 50px;
        max-width: 360px;
    }
    
    .navbar{
        background: none; 
    }
    
    .menu-list ul{
        height: 80px;
        max-width: 583px;
        margin: -25px auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around; 
        color: white;
        letter-spacing: 1px;
                
    }

    .menu-list li:hover{
        color: white;
        border-bottom: 4px solid #bdd436;
        }
}


@media(min-width:970px){
    
    .navbar{
        height: 200px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-content: space-around;
        overflow: visible;
    }
    
    #hamburger{
        display: none;
    }
    
    .top{
        width: 40vw;
    }
    
    .menu-list{
        width: 60vw;
        height: 100px;
        padding-top: 35px
    }
}

